@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  top: 0rem;
  margin-top: 10px;
  /* z-index: 100; */
}

.logoNuser {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
  padding-left: 4vw;
  color: #66cc75;
  font-family: "Comfortaa", cursive;
}

.logo:hover {
  color: teal;
}

.logoLink {
  text-decoration: none;
  list-style: none;
}

.authorizedNav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4vw;
}

.loginNsignup {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6vw;
}
