.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0rem;
  margin-top: 10px;
}

.logoNuser {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
  padding-left: 4vw;
  color: #66cc75;
  font-family: "Comfortaa", cursive;
}

.logo:hover {
  color: teal;
}

.logoLink {
  text-decoration: none;
  list-style: none;
}

.authorizedNav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4vw;
}

.loginNsignup {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6vw;
}

.navOption {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.navOption:hover {
  background-color: #66cc75;
  border-radius: 30px;
  color: white;
}

.logout {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
  color: red;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.logout:hover {
  background-color: red;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.userLink {
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  margin: 5px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.userLink:hover {
  background-color: #66cc75;
  border-radius: 30px;
  color: white;
}
