.userPostsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  width: 95%;
  margin-top: 20px;
}

.userPostDiv {
  border: 1px solid #66cc75;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin-bottom: 20px;
}

.userPostDiv:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.userPostImg {
  max-height: 400px;
  max-width: 300px;
}

.mypostBtns {
  display: flex;
  justify-content: space-evenly;
}

.editDelete:hover {
  color: #66cc75;
}

@media screen and (max-width: 1024px) {
  .userPostImg {
    max-height: 300px;
    max-width: 250px;
    margin: auto;
  }

  .userPostName {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media only screen and (max-width: 400px) {
}
