.masonGridContainer {
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  min-width: 80%;
  justify-content: space-evenly;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.categoryBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 4vw;
  padding-left: 4vw;
}

.categoryHeader {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

.categoryHeader:hover {
  color: #66cc75;
}

/* search bar CSS taken from https://www.sliderrevolution.com/resources/css-search-box/ */
.searchBar {
  outline: none;
}
.searchBar[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
.searchBar::-webkit-search-decoration,
.searchBar::-webkit-search-cancel-button {
  display: none;
}

.searchBar[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.searchBar[type="search"]:focus {
  width: 400px;
  background-color: #fff;
  border-color: #66cc75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.catLink {
  text-decoration: none;
  list-style: none;
}
