.masonGridContainer {
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  min-width: 80%;
  justify-content: space-evenly;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.categoryBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 4vw;
  padding-left: 4vw;
  min-height: 50px;
  font-family: "Comfortaa", cursive;
}

.catOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.categoryHeader {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

.categoryHeader:hover {
  color: #66cc75;
}

/* search bar CSS taken from https://www.sliderrevolution.com/resources/css-search-box/ */
.searchBar {
  outline: none;
}
.searchBar[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
.searchBar::-webkit-search-decoration,
.searchBar::-webkit-search-cancel-button {
  display: none;
}

.searchBar[type="search"] {
  background: #d1fae5
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #66cc75;
  padding: 9px 10px 9px 32px;
  width: 100px;
  border-radius: 10em;
  transition: all 0.5s;
}
.searchBar[type="search"]:focus {
  width: 400px;
  background-color: #fff;
  border-color: #66cc75;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.searchBar::placeholder {
  color: teal;
}

.catLink {
  text-decoration: none;
  list-style: none;
}

.segmentHeader {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  margin-top: 10px;
  font-family: "Comfortaa", cursive;
}

.loader {
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
}

@media only screen and (max-width: 650px) {
  .categoryBanner {
    display: flex;
    flex-direction: column;
    justify-content: none;
    padding-right: 0vw;
    padding-left: 0vw;
    margin-bottom: 0px;
  }

  .catOptions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    justify-content: none;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .categoryHeader {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
  }

  .searchBar {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .searchBar[type="search"] {
    width: 70%;
    padding: 5px 5px 5px 32px;
    font-size: 16px;
  }

  .searchBar[type="search"]:focus {
    width: 80%;
  }

  .searchBar::placeholder {
    font-size: 10px;
  }
}
