.detailBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
}

.postContainer {
  max-width: 800px;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 0.5px solid #66cc75;
  margin-top: 20px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

.detailCreator {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.detailCreator:hover {
  background-color: #66cc75;
  border-radius: 30px;
  color: white;
}

#editBox {
  display: none;
}

.detailDesc {
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.detailImage {
  max-width: 500px;
  border-radius: 15px;
  margin: auto;
}

.detailImage {
  cursor: zoom-in;
}

.detailImage:active {
  transform: scale(1.4);
}

.detailCat {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  background-color: #e1e1e3;
  border-radius: 30px;
}

.detailCat:hover {
  background-color: #66cc75;
  color: white;
}

.detailName {
  padding: 10px;
}

.currentUserTag {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  list-style: none;
  padding-left: 30px;
}

.commentsHeader {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  list-style: none;
}

.commSectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

.hideBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-left: 30px;
  font-weight: bolder;
  color: teal;
  padding: 7px;
  background-color: #a7f3d0;
  border-radius: 30px;
  margin: auto;
}

.hideBtn:hover {
  background-color: #66cc75;
  color: white;
}

.noLoginComment {
  margin-bottom: 15px;
}

.detailURL {
  font-weight: bolder;
  text-decoration: none;
  list-style: none;
  color: teal;
  padding: 10px;
  background-color: #a7f3d0;
  border-radius: 30px;
}

.detailURL:hover {
  background-color: #66cc75;
  color: white;
}

@media screen and (max-width: 1024px) {
  .postContainer {
    max-width: 600px;
  }

  .detailImage {
    max-width: 500px;
  }

  .detailBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 16px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .postContainer {
    max-width: 100%;
  }

  .detailDesc {
    max-width: 90%;
    margin: auto;
    text-align: justify;
    margin-top: 5px;
  }

  .detailImage {
    max-width: 100%;
    border-radius: 15px;
    margin: auto;
  }

  .detailBanner {
    font-size: 12px;
  }

  .postContainer {
    font-size: 12px;
  }
}
